extends layout

block content
  h1 Sign up
  form(role='form', action='/signup', method='post', autocomplete='off')
    .form-group
      input.form-control(type='text', name='username', placeholder='enter username')
    .form-group
      input.form-control(type='password', name='password', placeholder='enter password')
    button.btn.btn-primary(type='submit') Submit
    a(href='/')
      button.btn.btn-default(type='button') Cancel
